In [ ]:
# Create a text classification pipeline
from transformers import pipeline

pipe = pipeline("text-classification", model="distilbert/distilbert-base-uncased-finetuned-sst-2-english")

In [ ]:
# Load data
import pandas as pd
df = pd.read_csv('./data/netflix.csv')
feedback_column = 'Content' # Replace with the column name containing feedback
user_feedbacks = df[feedback_column].tolist()

feedback_amount = len(user_feedbacks)

In [ ]:
# Classify data
print(f"Classifying {feedback_amount} user feedbacks...")
results = pipe(user_feedbacks)

In [5]:
# Display results
results_df = pd.DataFrame(results)
results_df['score'] = results_df['score'].round(2)
results_df

       label  score
0   NEGATIVE   0.77
1   NEGATIVE   0.98
2   POSITIVE   0.98
3   NEGATIVE   1.00
4   NEGATIVE   1.00
..       ...    ...
95  NEGATIVE   0.62
96  NEGATIVE   1.00
97  NEGATIVE   1.00
98  NEGATIVE   1.00
99  NEGATIVE   1.00

[100 rows x 2 columns]